<div class="totp-input-container">
  @if (qrcodeData) {
    @if (enableMfa()) {
      <p style="text-align: center; margin-top: -4px">
        <small>{{ "components.totp-input.title" | translate }}</small>
      </p>
    }

    <img style="border-radius: 4px" width="240" height="240" [src]="qrcodeData" />

    <div style="text-align: center">
      <small
        ><b>{{ "components.totp-input.labels.secret" | translate }}</b></small
      >
      @if (secret(); as secretValue) {
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
          <p>
            <b>{{ secretValue }}</b>
          </p>
          <button
            class="field-suffix"
            type="button"
            mat-icon-button
            matSuffix
            matTooltip="{{ 'components.totp-input.tooltips.copy-secret' | translate }}"
            [cdkCopyToClipboard]="secretValue"
            (click)="onSecretCopy()"
          >
            <mat-icon fontSet="material-icons-round" matSuffix>copy</mat-icon>
          </button>
        </div>
      }
    </div>

    <p style="padding: 0px 16px; text-align: center">{{ "components.totp-input.text.qrcode-instruction" | translate }}</p>

    <app-text-divider [text]="'components.totp-input.text.then' | translate"></app-text-divider>
  }

  <mat-form-field class="totp-field">
    <input
      id="totp_input"
      matInput
      type="text"
      inputmode="numeric"
      [disabled]="disabled()"
      (input)="onCodeInput($event)"
      class="totp-digit-input"
    />
  </mat-form-field>
  <p style="text-align: center; margin-top: 0px">{{ "components.totp-input.text.enter-token" | translate }}</p>
</div>
