.example-spacer {
  flex: 1 1 auto;
}

.header-logo {
  display: block;
  height: 100%;
}

.left-actions > * {
  margin-right: 12px;
}

.right-actions > * {
  margin-left: 12px;
}

span {
  height: 100%;
  display: flex;
  align-items: center;
}