.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: color-mix(in oklab, var(--mat-sys-surface) 90%, #000 10%);
}

.header-logo {
  display: block;
  height: 100%;
  width: 100%;

  img {
    padding: 4px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.left-actions > * {
  margin-right: 12px;
}

.right-actions > * {
  margin-left: 12px;
}

span {
  height: 100%;
  display: flex;
  align-items: center;
}