<mat-toolbar>
  @if (location.pathname === "/" && config?.defaultRedirect; as logoLink) {
    <a class="header-logo" [href]="logoLink">
      <app-logo></app-logo>
    </a>
  } @else {
    <a class="header-logo" routerLink="/">
      <app-logo></app-logo>
    </a>
  }

  <span class="example-spacer"></span>

  <span class="right-actions">
    <app-theme-toggle></app-theme-toggle>
    <span>
      @if (!user?.canLogin && loginRedirect && !location.pathname.endsWith("/login") && !location.pathname.endsWith("/mfa")) {
        <span>
          <a mat-flat-button [href]="loginRedirect">Login</a>
        </span>
      } @else if (!location.pathname.endsWith("/login") && !location.pathname.endsWith("/register")) {
        <button mat-icon-button (click)="toggleSidenav.emit()">
          <mat-icon>menu</mat-icon>
        </button>
      }
    </span>
  </span>
</mat-toolbar>
