<mat-toolbar>
  <a class="header-logo" routerLink="/">
    <img
      #logo
      src="logo.svg"
      (error)="
        logo.src.includes('logo.svg')
          ? (logo.src = 'logo.png')
          : logo.src.includes('logo.png')
            ? (logo.src = 'favicon.svg')
            : logo.src.includes('favicon.svg')
              ? (logo.src = 'favicon.png')
              : null
      "
    />
  </a>

  <span class="example-spacer"></span>

  <span class="right-actions">
    <app-theme-toggle></app-theme-toggle>
    <span>
      @if (!user && loginRedirect && !router.url.includes("login")) {
        <span>
          <a mat-flat-button [href]="loginRedirect">Login</a>
        </span>
      } @else if (user) {
        <button mat-icon-button (click)="toggleSidenav.emit()">
          <mat-icon>menu</mat-icon>
        </button>
      }
    </span>
  </span>
</mat-toolbar>
