:host {
  display: flex;
  flex-direction: row;
  width: 80%;
}

mat-divider {
  flex-grow: 1;
}

p.disabled {
  color: var(--mat-button-filled-disabled-container-color, color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent));
}
