APP_URL="http://localhost:3000"
STORAGE_KEY=
DB_HOST="voidauth-db"
DB_PASSWORD=

# Optional LDAP server
LDAP_ENABLED=false
LDAP_PORT=3890
LDAP_BASE_DN="dc=voidauth"
LDAP_BIND_DN="cn=ldap_bind,dc=voidauth"
LDAP_BIND_PASSWORD=
