# See all configuration options in the [Getting Started](https://voidauth.app/#/Getting-Started?id=configuration) documentation.

APP_URL="http://localhost:3000"
STORAGE_KEY=
DB_HOST="voidauth-db"
DB_PASSWORD=
