services:
  voidauth: 
    build:
      context: .
      target: serve
    image: voidauth/voidauth:latest
    ports:
      - "3000:3000" # The default port is 3000, configurable with environment variable APP_PORT
    volumes:
      - "./config:/app/config"
    environment:
      # Required environment variables, set in .env file or replace ${...} with value
      # See https://voidauth.app/#/Getting-Started?id=environment-variables for a list of possible environment variables
      APP_URL: ${APP_URL} # required
      DB_HOST: voidauth-db # required
      DB_PASSWORD: ${DB_PASSWORD} # required, and must be the same as POSTGRES_PASSWORD in voidauth-db service
      STORAGE_KEY: ${STORAGE_KEY} # required
    depends_on:
      voidauth-db:
        condition: service_healthy

  voidauth-db:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/18/docker
    restart: unless-stopped
    healthcheck:
      test: "pg_isready -U postgres -h localhost"
