services:
  voidauth: 
    image: voidauth/voidauth:latest
    env_file:
      - ".env"
    ports:
      - "3000:3000"
    volumes:
      - "./config:/app/config"
    environment:
      # Required environment variables, set in .env file
      APP_URL: ${APP_URL} # required
      DB_HOST: voidauth-db # required
      DB_PASSWORD: ${DB_PASSWORD} # required, and must be the same as POSTGRES_PASSWORD in voidauth-db service
      STORAGE_KEY: ${STORAGE_KEY} # required
    depends_on:
      - voidauth-db

  voidauth-db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./db/data:/var/lib/postgresql/data
    restart: unless-stopped
