<h1>Reset Password</h1>
<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="passwordForm">
      <app-password-set
        style="width: 100%; margin-top: 0px"
        [newPassword]="passwordForm.controls.newPassword"
        [confirmPassword]="passwordForm.controls.confirmPassword"
      >
      </app-password-set>

      <mat-card-actions>
        <button
          mat-flat-button
          type="button"
          (click)="send()"
          [disabled]="!passwordForm.enabled || !passwordForm.valid || !passwordForm.dirty"
        >
          Reset Password
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
