<h2 mat-dialog-title>{{ "passkey-name.title" | translate }}</h2>
<mat-dialog-content>
  <p>{{ "passkey-name.prompt" | translate }}</p>
  <mat-form-field style="width: 100%">
    <input matInput type="text" [formControl]="displayNameControl" />
    @if (displayNameControl.errors) {
      <mat-error>{{ displayNameControl.errors | validationError }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ "passkey-name.actions.skip.label" | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="displayNameControl.value" [disabled]="!displayNameControl.value || displayNameControl.errors">
    {{ "passkey-name.actions.save.label" | translate }}
  </button>
</mat-dialog-actions>
