<h1>Confirm</h1>
@if (details) {
  <mat-card class="form-card">
    <mat-card-content>
      <form autocomplete="off" action="{{ basePath }}/api/interaction/{{ details.uid }}/confirm" method="post">
        <div style="text-align: center">
          @if (details.logoUri) {
            <img style="width: 128px; height: 128px; border-radius: 16px" [src]="details.logoUri" />
          }
          <br />
          <br />
          <div
            [innerHTML]="
              'consent.info.sign-into-question' | translate: { destination: details.clientName ?? redirectHost ?? details.redirectUri }
            "
          ></div>
          <br />
          @if (redirectHost) {
            <p [innerHTML]="'consent.info.post-signin-redir-notice' | translate: { redirect: details.redirectUri }"></p>
          }
        </div>

        <mat-card-actions>
          <button mat-flat-button type="submit">{{ "consent.actions.sign-in" | translate }}</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
}
