@if (translationService.currentLang(); as currentLang) {
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{ getFlagEmoji(currentLang.code) }}</span>
    {{ currentLang.display }}
  </button>
  <mat-menu #menu="matMenu" class="flag-emojis">
    @for (lang of translationService.availableLangs; track lang) {
      <button mat-menu-item [disabled]="lang.code === currentLang.code" (click)="selectLang(lang.code)">
        <span>{{ getFlagEmoji(lang.code) }}</span>
        {{ lang.display }}
      </button>
    }
  </mat-menu>
}
