<h1>Update User</h1>
<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        @if (form.controls.username.errors) {
          <mat-error>{{ form.controls.username.errors | validationError: "Only A-Z,0-9,and _ allowed" }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        @if (form.controls.name.errors) {
          <mat-error>{{ form.controls.name.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        @if (form.controls.email.errors) {
          <mat-error>{{ form.controls.email.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-list [ngClass]="{ invalid: form.controls.groups.errors }">
        <mat-form-field>
          <mat-label>Add Group</mat-label>
          <input
            #input
            type="text"
            placeholder="Pick one"
            matInput
            [formControl]="groupSelect"
            [matAutocomplete]="auto"
            (input)="groupAutoFilter(input.value)"
            (focus)="groupAutoFilter(input.value)"
          />
          <mat-autocomplete (optionSelected)="addGroup($event); input.value = ''" requireSelection #auto="matAutocomplete">
            @for (option of selectableGroups; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
          @if (groupSelect.errors) {
            <mat-error>{{ groupSelect.errors | validationError }}</mat-error>
          }
        </mat-form-field>

        <div mat-subheader>Groups:</div>
        @for (g of form.value.groups; track g) {
          <mat-list-item>
            <mat-icon fontSet="material-icons-round" matListItemIcon class="clickable" (click)="removeGroup(g)">cancel</mat-icon>
            <div matListItemTitle>{{ g }}</div>
          </mat-list-item>
        }
        @if (!form.value.groups?.length) {
          <mat-list-item> </mat-list-item>
        }
      </mat-list>
      @if (form.controls.groups.errors) {
        <mat-error style="margin-top: 4px; align-self: start; margin-left: 16px">
          {{ form.controls.groups.errors | validationError }}
        </mat-error>
      }

      <mat-checkbox formControlName="emailVerified">Email Verified</mat-checkbox>

      <mat-checkbox formControlName="approved">Approved</mat-checkbox>

      <mat-card-actions>
        <button mat-flat-button [disabled]="form.invalid || form.pristine" type="submit">Update</button>
        @if (id !== me?.id) {
          <button mat-button type="button" (click)="signout()">Sign Out</button>
          <button mat-button type="button" (click)="remove()">Delete</button>
        }
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
