<h1>{{ this.client_id ? "Update" : "Create" }} OIDC Client</h1>
<app-oidc-info style="width: 100%; max-width: var(--form-max-width); margin-bottom: 8px; margin-top: 8px"></app-oidc-info>
<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Client ID</mat-label>
        <input #clientid matInput type="text" formControlName="client_id" />
        @if (!client_id) {
          <button
            class="field-suffix"
            type="button"
            [disabled]="!!clientid.value"
            mat-icon-button
            matSuffix
            (click)="$event.stopPropagation(); generateClientID()"
          >
            <mat-icon fontSet="material-icons-round" matSuffix>autorenew</mat-icon>
          </button>
        }
        @if (form.controls.client_id.errors) {
          <mat-error>{{ form.controls.client_id.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Display Name</mat-label>
        <input matInput type="text" formControlName="client_name" />
        @if (form.controls.client_name.errors) {
          <mat-error>{{ form.controls.client_name.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-list [ngClass]="{ invalid: form.controls.groups.errors }">
        <mat-form-field>
          <mat-label>Add Group</mat-label>
          <input
            #input
            type="text"
            placeholder="Pick one"
            matInput
            [formControl]="groupSelect"
            [matAutocomplete]="auto"
            (input)="groupAutoFilter(input.value)"
            (focus)="groupAutoFilter(input.value)"
          />
          <mat-autocomplete (optionSelected)="addGroup($event); input.value = ''" requireSelection #auto="matAutocomplete">
            @for (option of selectableGroups; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
          @if (groupSelect.errors) {
            <mat-error>{{ groupSelect.errors | validationError }}</mat-error>
          }
        </mat-form-field>

        <div mat-subheader>Allowed Groups:</div>
        @for (g of form.value.groups; track g) {
          <mat-list-item>
            <mat-icon fontSet="material-icons-round" matListItemIcon class="clickable" (click)="removeGroup(g)">cancel</mat-icon>
            <div matListItemTitle>{{ g }}</div>
          </mat-list-item>
        }
        @if (!form.value.groups?.length) {
          <mat-list-item> No Groups, <b>ALL</b> users will have access. </mat-list-item>
        }
      </mat-list>
      @if (form.controls.groups.errors) {
        <mat-error style="margin-top: 4px; align-self: start; margin-left: 16px">
          {{ form.controls.groups.errors | validationError }}
        </mat-error>
      }

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Auth Method</mat-label>
        <mat-select formControlName="token_endpoint_auth_method">
          @for (method of authMethods; track method) {
            <mat-option [value]="method.value">{{ method.name }}</mat-option>
          }
        </mat-select>
        @if (form.controls.token_endpoint_auth_method.value === "none") {
          <mat-hint>PKCE Required with this Auth Method.</mat-hint>
        }
        @if (form.controls.token_endpoint_auth_method.errors) {
          <mat-error>{{ form.controls.token_endpoint_auth_method.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="client-secret">
        <mat-label>Client Secret</mat-label>
        <input #secret matInput [type]="pwdShow ? 'text' : 'password'" formControlName="client_secret" />

        <button
          class="field-suffix"
          type="button"
          [disabled]="!!secret.value"
          mat-icon-button
          matSuffix
          (click)="$event.stopPropagation(); generateSecret()"
        >
          <mat-icon fontSet="material-icons-round" matSuffix>autorenew</mat-icon>
        </button>
        <button class="field-suffix" type="button" mat-icon-button matSuffix (click)="$event.stopPropagation(); pwdShow = !pwdShow">
          <mat-icon fontSet="material-icons-round" matSuffix>{{ pwdShow ? "visibility" : "visibility_off" }}</mat-icon>
        </button>
        <button
          class="field-suffix"
          type="button"
          mat-icon-button
          matSuffix
          matTooltip="Copy Secret"
          [disabled]="!secret.value"
          [cdkCopyToClipboard]="secret.value || ''"
          (click)="snackbarService.message('Secret copied to clipboard.')"
        >
          <mat-icon fontSet="material-icons-round" matSuffix>copy</mat-icon>
        </button>
        @if (
          form.controls.token_endpoint_auth_method.value &&
          nonClientSecretAuthMethods.includes(form.controls.token_endpoint_auth_method.value)
        ) {
          <mat-hint>Not required for current Auth Method.</mat-hint>
        }
        @if (form.controls.client_secret.errors) {
          <mat-error>{{ form.controls.client_secret.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-list [ngClass]="{ invalid: form.controls.redirect_uris.errors }">
        <mat-form-field>
          <mat-label>New Redirect URL</mat-label>
          <input #redirect matInput type="text" [formControl]="redirectUrlControl" />
          <button
            class="field-suffix"
            type="button"
            mat-icon-button
            matSuffix
            [disabled]="redirectUrlControl.errors || !redirect.value"
            (click)="addRedirectUrl(redirect.value); redirect.value = ''"
          >
            <mat-icon fontSet="material-icons-round" matSuffix>add_circle</mat-icon>
          </button>
          @if (redirectUrlControl.errors) {
            <mat-error>{{ redirectUrlControl.errors | validationError }}</mat-error>
          }
        </mat-form-field>
        <div mat-subheader>Redirect URLs:</div>
        @for (uri of form.value.redirect_uris; track uri) {
          <mat-list-item>
            <mat-icon fontSet="material-icons-round" matListItemIcon class="clickable" (click)="removeRedirectUrl(uri)">cancel</mat-icon>
            <div matListItemTitle>{{ uri }}</div>
          </mat-list-item>
        }
        @if (!form.value.redirect_uris?.length) {
          <mat-list-item> </mat-list-item>
        }
      </mat-list>
      @if (form.controls.redirect_uris.errors) {
        <mat-error style="margin-top: 4px; align-self: start; margin-left: 16px">
          {{ form.controls.redirect_uris.errors | validationError }}
        </mat-error>
      }

      <mat-form-field>
        <mat-label>Response Types</mat-label>
        <mat-select [formControl]="responseTypeControl" multiple>
          @for (rt of uniqueResponseTypes; track rt) {
            <mat-option [value]="rt">{{ rt }}</mat-option>
          }
        </mat-select>
        @if (responseTypeControl.errors) {
          <mat-error>{{ responseTypeControl.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Grant Types</mat-label>
        <mat-select formControlName="grant_types" multiple>
          @for (gt of grantTypes; track gt) {
            <mat-option [value]="gt">{{ gt }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Home Page URL</mat-label>
        <input matInput type="text" formControlName="client_uri" />
        <mat-hint>Home Page URL of the client.</mat-hint>
        @if (form.controls.client_uri.errors) {
          <mat-error>{{ form.controls.client_uri.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Logo URL</mat-label>
        <input matInput type="text" formControlName="logo_uri" />
        <mat-hint>Logo URL of the client.</mat-hint>
        @if (form.controls.logo_uri.errors) {
          <mat-error>{{ form.controls.logo_uri.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>PostLogout URL</mat-label>
        <input matInput type="text" formControlName="post_logout_redirect_uri" />
        <mat-hint>Allowed post-logout redirect url on client initiated logout.</mat-hint>
        @if (form.controls.post_logout_redirect_uri) {
          <mat-error>{{ form.controls.post_logout_redirect_uri.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-checkbox formControlName="skip_consent" matTooltip="Skip user confirmation for this client."> Skip Consent </mat-checkbox>
      <mat-checkbox formControlName="require_mfa" matTooltip="Users will have to use mfa to access this client.">
        MFA Required
      </mat-checkbox>

      <mat-card-actions>
        <button mat-flat-button [disabled]="form.invalid || form.pristine" type="submit">{{ this.client_id ? "Update" : "Create" }}</button>
        @if (client_id) {
          <button mat-button type="button" (click)="deleteClient()">Delete</button>
        }
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
