<h2 mat-dialog-title>{{ "components.passkey-edit.title" | translate }}</h2>
<mat-dialog-content>
  <p>{{ "components.passkey-edit.message.default" | translate }}</p>
  <mat-form-field style="width: 100%">
    <input matInput type="text" [formControl]="displayNameControl" placeholder="Passkey Name" />
    @if (displayNameControl.errors) {
      <mat-error>{{ displayNameControl.errors | validationError }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ "components.passkey-edit.actions.cancel.label" | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="displayNameControl.value" [disabled]="!displayNameControl.value || displayNameControl.errors">
    {{ "components.passkey-edit.actions.save.label" | translate }}
  </button>
</mat-dialog-actions>
