<h1>
  @if (id) {
    {{ "admin.common.actions.update" | translate }}
  } @else {
    {{ "admin.common.actions.create" | translate }}
  }
  {{ "admin.domain.title" | translate }}
</h1>
<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>{{ "admin.domain.labels.domain" | translate }}</mat-label>
        <input matInput type="text" formControlName="domain" placeholder="{{ 'admin.domain.placeholders.domain' | translate }}" />
        @if (form.controls.domain.errors) {
          <mat-error>{{ form.controls.domain.errors | validationError | async }}</mat-error>
        }
      </mat-form-field>

      <mat-expansion-panel style="width: 100%; max-width: var(--form-max-width); margin-bottom: 8px; margin-top: 8px">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ "admin.domain.sections.domain-help" | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
          <li>{{ "admin.domain.help-text.0" | translate }}</li>
          <li [innerHTML]="'admin.domain.help-text.1' | translate"></li>
          <li [innerHTML]="'admin.domain.help-text.2' | translate"></li>
        </ol>
      </mat-expansion-panel>

      <mat-list [ngClass]="{ invalid: form.controls.groups.errors }">
        <mat-form-field>
          <mat-label>{{ "admin.domain.labels.add-group" | translate }}</mat-label>
          <input
            #input
            type="text"
            placeholder="Pick one"
            matInput
            [formControl]="groupSelect"
            [matAutocomplete]="auto"
            (input)="groupAutoFilter(input.value)"
            (focus)="groupAutoFilter(input.value)"
          />
          <mat-autocomplete (optionSelected)="addGroup($event); input.value = ''" requireSelection #auto="matAutocomplete">
            @for (option of selectableGroups; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
          @if (groupSelect.errors) {
            <mat-error>{{ groupSelect.errors | validationError | async }}</mat-error>
          }
        </mat-form-field>

        <div mat-subheader>{{ "admin.domain.labels.allowed-groups" | translate }}</div>
        @for (g of form.value.groups; track g) {
          <mat-list-item>
            <mat-icon fontSet="material-icons-round" matListItemIcon class="clickable" (click)="removeGroup(g)">cancel</mat-icon>
            <div matListItemTitle>{{ g }}</div>
          </mat-list-item>
        }
        @if (!form.value.groups?.length) {
          <mat-list-item> {{ "admin.common.messages.all-users-have-access" | translate }} </mat-list-item>
        }
      </mat-list>
      @if (form.controls.groups.errors) {
        <mat-error style="margin-top: 4px; align-self: start; margin-left: 16px">
          {{ form.controls.groups.errors | validationError | async }}
        </mat-error>
      }

      <mat-form-field>
        <mat-label>{{ "admin.domain.labels.max-session-length" | translate }}</mat-label>
        <input matInput type="number" min="5" max="525600" formControlName="maxSessionLength" />
        <mat-hint>{{ "admin.domain.hints.no-re-auth" | translate }}</mat-hint>
        @if (form.controls.maxSessionLength.errors) {
          <mat-error>{{ form.controls.maxSessionLength.errors | validationError | async }}</mat-error>
        }
      </mat-form-field>

      <mat-checkbox formControlName="mfaRequired">{{ "admin.common.labels.mfa-required" | translate }}</mat-checkbox>

      <mat-card-actions>
        <button mat-flat-button [disabled]="form.invalid || form.pristine" type="submit">
          @if (id) {
            {{ "admin.common.actions.update" | translate }}
          } @else {
            {{ "admin.common.actions.create" | translate }}
          }
        </button>
        <button mat-flat-button class="danger-button" type="button" (click)="remove()">
          {{ "admin.common.actions.delete" | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
