<h1>Settings</h1>

<!-- profile card -->
<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> Profile </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" [value]="user?.username ?? ''" readonly disabled />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        @if (profileForm.controls.name.errors) {
          <mat-error>{{ profileForm.controls.name.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button type="submit" [disabled]="!profileForm.enabled || !profileForm.valid || !profileForm.dirty">
          Update Profile
        </button>
      </mat-card-actions>
    </form>

    <mat-divider class="disabled"></mat-divider>

    <form [formGroup]="emailForm" (ngSubmit)="updateEmail()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
        @if (emailForm.controls.email.errors) {
          <mat-error>{{ emailForm.controls.email.errors | validationError }}</mat-error>
        }
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button type="submit" [disabled]="!emailForm.enabled || !emailForm.valid || !emailForm.dirty">Update Email</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<!-- security card -->
<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> Security </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordForm">
      <app-password-set
        style="width: 100%; margin-top: 0px"
        [oldPassword]="user?.hasPassword ? passwordForm.controls.oldPassword : undefined"
        [newPassword]="passwordForm.controls.newPassword"
        [confirmPassword]="passwordForm.controls.confirmPassword"
      >
      </app-password-set>

      <mat-card-actions>
        <button
          mat-flat-button
          type="button"
          (click)="updatePassword()"
          [disabled]="!passwordForm.enabled || !passwordForm.valid || !passwordForm.dirty"
        >
          {{ user?.hasPassword ? "Change " : "Set " }} Password
        </button>

        <mat-divider class="disabled"></mat-divider>

        <p>You have {{ user?.hasPasskeys ? "at least one registered passkey" : "no registered passkeys" }}.</p>

        <button mat-flat-button type="button" (click)="registerPasskey()" [disabled]="!passkeySupport?.enabled">
          Register Passkey
          <mat-icon fontSet="material-icons-round" matSuffix>key</mat-icon>
        </button>

        <mat-divider class="disabled"></mat-divider>

        <p>You have {{ user?.hasTotp ? "at least one authenticator" : "no authenticators" }}.</p>

        <button mat-flat-button type="button" (click)="addAuthenticator()">
          Add Authenticator
          <mat-icon fontSet="material-icons-round" matSuffix>lock</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> Account </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-card-actions>
        <span
          [matTooltip]="!user?.hasPassword ? 'You have no password to remove' : !user?.hasPasskeys ? 'You do not have any passkeys' : null"
          ><button
            mat-flat-button
            type="button"
            class="error-button"
            (click)="removePassword()"
            [disabled]="!user?.hasPassword || !user?.hasPasskeys"
          >
            Remove Password
          </button></span
        >

        <span
          [matTooltip]="!user?.hasPasskeys ? 'You have no passkeys to remove' : !user?.hasPassword ? 'You do not have a password' : null"
          ><button
            mat-flat-button
            type="button"
            class="error-button"
            (click)="removeAllPasskeys()"
            [disabled]="!user?.hasPasskeys || !user?.hasPassword"
          >
            Remove All Passkeys
          </button></span
        >

        <span [matTooltip]="!user?.hasTotp ? 'You have no authenticators to remove' : null"
          ><button mat-flat-button type="button" class="error-button" (click)="removeAllAuthenticators()" [disabled]="!user?.hasTotp">
            Remove All Authenticators
          </button></span
        >

        <button mat-flat-button type="button" class="danger-button" (click)="deleteUser()">Delete Account</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<span style="flex-grow: 1"></span>

@if (config?.contactEmail; as contactEmail) {
  <a style="margin-top: 48px" mat-button [href]="'mailto:' + contactEmail">Contact</a>
}
