<div class="container">
  <a mat-flat-button style="align-self: end;" routerLink="/admin/client">Create OIDC Client</a>

  <table mat-table [dataSource]="dataSource" matSort>
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{column.header}}
        </th>
        <td mat-cell style="white-space: pre-line;" *matCellDef="let row">
          @if (column.isIcon) {
            <mat-icon>{{column.cell(row)}}</mat-icon>
          } @else {
            {{column.cell(row)}}
          }
        </td>
      </ng-container>
    }

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="actions">
        <a mat-icon-button [routerLink]="['/admin', 'client', row.client_id]"><mat-icon>edit</mat-icon></a>
        <button mat-icon-button type="button" (click)="delete(row.client_id)"><mat-icon>delete_forever</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow>
      <td style="height: 40px; text-align: center; font-weight: bold;" [attr.colspan]="columns.length+1"><h1>No OIDC Clients.</h1></td>
    </tr>
  </table>

  <div style="flex-grow: 1;"></div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
