<div class="container">
  <table mat-table [dataSource]="dataSource" matSort>
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          @if (column.isIcon) {
            <mat-icon fontSet="material-icons-round">{{ column.cell(row) }}</mat-icon>
          } @else {
            {{ column.cell(row) }}
          }
        </td>
      </ng-container>
    }

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="actions">
        <a mat-icon-button matTooltip="Preview" (click)="previewEmail(row)">
          <mat-icon fontSet="material-icons-round">open_in_new</mat-icon>
        </a>
        <a mat-icon-button matTooltip="View User" [disabled]="!row.toUser" target="_blank" [routerLink]="['/admin', 'user', row.toUser]">
          <mat-icon fontSet="material-icons-round">account_circle</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow>
      <td style="height: 40px; text-align: center; font-weight: bold" [attr.colspan]="columns.length + 1"><h1>No Sent Mail.</h1></td>
    </tr>
  </table>

  <div style="flex-grow: 1"></div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
</div>
