<h1>Login</h1>
<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>{{ "login.username.label" | translate }}</mat-label>
        <input matInput type="text" formControlName="email" autocomplete="username webauthn" />
        @if (form.controls.email.errors) {
          <mat-error>{{ form.controls.email.errors | validationError }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field style="padding-right: 4px">
        <mat-label>{{ "login.password.label" | translate }}</mat-label>
        <input matInput [type]="pwdShow ? 'text' : 'password'" formControlName="password" autocomplete="current-password webauthn" />
        <button class="field-suffix" type="button" mat-icon-button matSuffix (click)="pwdShow = !pwdShow">
          <mat-icon fontSet="material-icons-round" matSuffix>{{ pwdShow ? "visibility" : "visibility_off" }}</mat-icon>
        </button>
        @if (form.controls.password.errors) {
          <mat-error>{{ form.controls.password.errors | validationError }}</mat-error>
        }
      </mat-form-field>
      <a routerLink="/forgot_password" mat-button type="button" style="margin-top: -6px">{{ "login.forgot-password" | translate }}</a>
      <mat-checkbox formControlName="rememberMe">{{ "login.remember-me" | translate }}</mat-checkbox>

      <mat-card-actions style="margin-top: 8px">
        <button mat-flat-button [disabled]="form.invalid || !interactionAvailable" type="submit">
          {{ "login.actions.login" | translate }}
        </button>

        @if (passkeySupport?.enabled) {
          <button mat-flat-button type="button" [disabled]="!interactionAvailable" (click)="passkeyLogin(false)">
            {{ passkeySupport?.platformName ?? "passkey.display-name.default" | translate }}
            <mat-icon fontSet="material-icons-round" matSuffix>{{ passkeySupport?.platformIcon ?? "key" }}</mat-icon>
          </button>
        }

        @if (config?.registration) {
          <app-text-divider text="or" disabled style="margin-top: 16px"></app-text-divider>
          <a routerLink="/register" mat-button type="button">{{ "login.actions.sign-up" | translate }}</a>
        }
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<span style="flex-grow: 1"></span>

@if (config?.contactEmail; as contactEmail) {
  <a style="margin-top: 48px" mat-button [href]="'mailto:' + contactEmail">{{ "contact-us.action.label" | translate }}</a>
}
