@if (data.header) {
  <h2 mat-dialog-title>{{ data.header }}</h2>
}
<form>
  <mat-dialog-content>
    <p>
      {{ data.message ?? ("components.email-input.message.default" | translate) }}
    </p>
    <mat-form-field style="width: 100%">
      <input matInput type="text" [formControl]="emailControl" />
      @if (emailControl.errors) {
        <mat-error>{{ emailControl.errors | validationError | async }}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>{{ "components.email-input.actions.cancel.label" | translate }}</button>
    <button
      mat-flat-button
      type="submit"
      [mat-dialog-close]="emailControl.value"
      cdkFocusInitial
      [disabled]="!emailControl.value || emailControl.errors"
    >
      {{ "components.email-input.actions.confirm.label" | translate }}
    </button>
  </mat-dialog-actions>
</form>
