mat-card {
  max-width: 600px;
}

mat-card-content {
  padding-top: 32px;

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;

    > * {
      margin-left: 8px;
    }
  }
}
