<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> {{ sent ? "Verification Email Sent" : "Email Verification Required" }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-icon align="center" style="width: 100px; height: 100px; font-size: 100px" fontSet="material-icons-round" matSuffix>mail</mat-icon>
    <mat-card-actions>
      <a mat-button [href]="host + '/oidc/session/end'">Logout</a>
      <button mat-flat-button (click)="sendVerification()">
        {{ sent ? "Send Again" : "Send Verification" }}
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<span style="flex-grow: 1"></span>

@if (config?.contactEmail; as contactEmail) {
  <a style="margin-top: 48px" mat-button [href]="'mailto:' + contactEmail">Contact</a>
}
