html {
  color-scheme: light dark;
}
html {
  --mat-sys-background: light-dark(#fef7ff, #151218);
  --mat-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --mat-sys-error-container: light-dark(#ffdad6, #93000a);
  --mat-sys-inverse-on-surface: light-dark(#f6eef7, #322f36);
  --mat-sys-inverse-primary: light-dark(#d5baff, #6f4ba9);
  --mat-sys-inverse-surface: light-dark(#322f36, #e7e0e9);
  --mat-sys-on-background: light-dark(#1d1a21, #e7e0e9);
  --mat-sys-on-error: light-dark(#ffffff, #690005);
  --mat-sys-on-error-container: light-dark(#93000a, #ffdad6);
  --mat-sys-on-primary: light-dark(#ffffff, #3f1778);
  --mat-sys-on-primary-container: light-dark(#56328f, #ecdcff);
  --mat-sys-on-primary-fixed: light-dark(#270057, #270057);
  --mat-sys-on-primary-fixed-variant: light-dark(#56328f, #56328f);
  --mat-sys-on-secondary: light-dark(#ffffff, #372a4d);
  --mat-sys-on-secondary-container: light-dark(#4e4065, #ecdcff);
  --mat-sys-on-secondary-fixed: light-dark(#221537, #221537);
  --mat-sys-on-secondary-fixed-variant: light-dark(#4e4065, #4e4065);
  --mat-sys-on-surface: light-dark(#1d1a21, #e7e0e9);
  --mat-sys-on-surface-variant: light-dark(#4a4451, #e8dfef);
  --mat-sys-on-tertiary: light-dark(#ffffff, #5f0a40);
  --mat-sys-on-tertiary-container: light-dark(#7b2557, #ffd8e8);
  --mat-sys-on-tertiary-fixed: light-dark(#3d0027, #3d0027);
  --mat-sys-on-tertiary-fixed-variant: light-dark(#7b2557, #7b2557);
  --mat-sys-outline: light-dark(#7b7482, #958e9c);
  --mat-sys-outline-variant: light-dark(#ccc3d3, #4a4451);
  --mat-sys-primary: light-dark(#6f4ba9, #d5baff);
  --mat-sys-primary-container: light-dark(#ecdcff, #56328f);
  --mat-sys-primary-fixed: light-dark(#ecdcff, #ecdcff);
  --mat-sys-primary-fixed-dim: light-dark(#d5baff, #d5baff);
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-secondary: light-dark(#66587e, #d1bfeb);
  --mat-sys-secondary-container: light-dark(#ecdcff, #4e4065);
  --mat-sys-secondary-fixed: light-dark(#ecdcff, #ecdcff);
  --mat-sys-secondary-fixed-dim: light-dark(#d1bfeb, #d1bfeb);
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-surface: light-dark(#fef7ff, #151218);
  --mat-sys-surface-bright: light-dark(#fef7ff, #3b383f);
  --mat-sys-surface-container: light-dark(#f3ebf4, #211e25);
  --mat-sys-surface-container-high: light-dark(#ede6ef, #2c292f);
  --mat-sys-surface-container-highest: light-dark(#e7e0e9, #37333a);
  --mat-sys-surface-container-low: light-dark(#f9f1fa, #1d1a21);
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #100d13);
  --mat-sys-surface-dim: light-dark(#dfd8e1, #151218);
  --mat-sys-surface-tint: light-dark(#6f4ba9, #d5baff);
  --mat-sys-surface-variant: light-dark(#e8dfef, #4a4451);
  --mat-sys-tertiary: light-dark(#993d70, #ffafd4);
  --mat-sys-tertiary-container: light-dark(#ffd8e8, #7b2557);
  --mat-sys-tertiary-fixed: light-dark(#ffd8e8, #ffd8e8);
  --mat-sys-tertiary-fixed-dim: light-dark(#ffafd4, #ffafd4);
  --mat-sys-neutral-variant20: #332e3a;
  --mat-sys-neutral10: #1d1a21;
}
html {
  --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-body-large: 400 1rem / 1.5rem monospace;
  --mat-sys-body-large-font: monospace;
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 0.875rem / 1.25rem monospace;
  --mat-sys-body-medium-font: monospace;
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.75rem / 1rem monospace;
  --mat-sys-body-small-font: monospace;
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large: 400 3.562rem / 4rem monospace;
  --mat-sys-display-large-font: monospace;
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 2.812rem / 3.25rem monospace;
  --mat-sys-display-medium-font: monospace;
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 2.25rem / 2.75rem monospace;
  --mat-sys-display-small-font: monospace;
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large: 400 2rem / 2.5rem monospace;
  --mat-sys-headline-large-font: monospace;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem monospace;
  --mat-sys-headline-medium-font: monospace;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem monospace;
  --mat-sys-headline-small-font: monospace;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large: 500 0.875rem / 1.25rem monospace;
  --mat-sys-label-large-font: monospace;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem monospace;
  --mat-sys-label-medium-font: monospace;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem monospace;
  --mat-sys-label-small-font: monospace;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large: 400 1.375rem / 1.75rem monospace;
  --mat-sys-title-large-font: monospace;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem monospace;
  --mat-sys-title-medium-font: monospace;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem monospace;
  --mat-sys-title-small-font: monospace;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}
html {
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;
}
html {
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}