<h1>Forgot Password</h1>
<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="send()">
      <mat-form-field appearance="outline">
        <mat-label>Email or Username</mat-label>
        <input matInput type="text" formControlName="input">
        @if (form.controls.input.errors) {
        <mat-error>{{form.controls.input.errors | validationError}}</mat-error>
        }
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button [disabled]="form.invalid" type="submit">{{emailActive ? 'Send' : 'Create'}} {{emailSent ? 'Again' : ''}}</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>