<h1>
  @if (id) {
    {{ "admin.common.actions.update" | translate }}
  } @else {
    {{ "admin.common.actions.create" | translate }}
  }
  {{ "admin.invitation.title" | translate }}
</h1>
@if (id) {
  <mat-card class="form-card">
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>{{ "admin.invitation.labels.invite-link" | translate }}</mat-label>
          <input matInput [value]="inviteLink" type="text" disabled />
          <button
            class="field-suffix"
            type="button"
            mat-icon-button
            matSuffix
            [matTooltip]="'admin.invitation.tooltips.copy-invite-link' | translate"
            [cdkCopyToClipboard]="inviteLink || ''"
            (click)="onCopyInviteLink()"
          >
            <mat-icon fontSet="material-icons-round" matSuffix>copy</mat-icon>
          </button>
        </mat-form-field>
        <mat-card-actions>
          @if (!config?.emailActive) {
            <p>{{ "admin.invitation.messages.email-not-verified" | translate }}</p>
          } @else if (!inviteEmail) {
            <p>{{ "admin.invitation.messages.no-email" | translate }}</p>
          } @else {
            <button
              mat-button
              type="button"
              disabledInteractive
              [matTooltip]="
                form.dirty
                  ? ('admin.invitation.tooltips.unsaved-changes' | translate)
                  : ('admin.invitation.tooltips.send-to' | translate: { email: inviteEmail })
              "
              [disabled]="form.dirty"
              (click)="sendEmail()"
            >
              {{ "admin.invitation.actions.send" | translate }}
            </button>
          }
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>
}

<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>{{ "admin.invitation.labels.username" | translate }}</mat-label>
        <input matInput type="text" formControlName="username" />
        @if (form.controls.username.errors) {
          <mat-error>{{ form.controls.username.errors | validationError: "Only A-Z,0-9,and _ allowed" | async }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "admin.invitation.labels.email" | translate }}</mat-label>
        <input matInput type="text" formControlName="email" />
        @if (form.controls.email.errors) {
          <mat-error>{{ form.controls.email.errors | validationError | async }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "admin.invitation.labels.name" | translate }}</mat-label>
        <input matInput type="text" formControlName="name" />
        @if (form.controls.name.errors) {
          <mat-error>{{ form.controls.name.errors | validationError | async }}</mat-error>
        }
      </mat-form-field>

      <!-- Tricky set false while disabled, while keeping previous value -->
      @if (form.controls.emailVerified.enabled) {
        <mat-checkbox formControlName="emailVerified">{{ "admin.invitation.checkboxes.email-verified" | translate }}</mat-checkbox>
      } @else {
        <mat-checkbox disabled>{{ "admin.invitation.checkboxes.email-verified" | translate }}</mat-checkbox>
      }

      <mat-list [ngClass]="{ invalid: form.controls.groups.errors }">
        <mat-form-field>
          <mat-label>{{ "admin.invitation.labels.add-group" | translate }}</mat-label>
          <input
            #input
            type="text"
            placeholder="Pick one"
            matInput
            [formControl]="groupSelect"
            [matAutocomplete]="auto"
            (input)="groupAutoFilter(input.value)"
            (focus)="groupAutoFilter(input.value)"
          />
          <mat-autocomplete (optionSelected)="addGroup($event); input.value = ''" requireSelection #auto="matAutocomplete">
            @for (option of selectableGroups; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
          @if (groupSelect.errors) {
            <mat-error>{{ groupSelect.errors | validationError | async }}</mat-error>
          }
        </mat-form-field>

        <div mat-subheader>{{ "admin.invitation.labels.security-groups" | translate }}</div>
        @for (g of form.value.groups; track g) {
          <mat-list-item>
            <mat-icon fontSet="material-icons-round" matListItemIcon class="clickable" (click)="removeGroup(g)">cancel</mat-icon>
            <div matListItemTitle>{{ g }}</div>
          </mat-list-item>
        }
        @if (!form.value.groups?.length) {
          <mat-list-item> </mat-list-item>
        }
      </mat-list>
      @if (form.controls.groups.errors) {
        <mat-error style="margin-top: 4px; align-self: start; margin-left: 16px">
          {{ form.controls.groups.errors | validationError | async }}
        </mat-error>
      }

      @if (form.errors) {
        <mat-error>
          {{ form.errors | validationError | async }}
        </mat-error>
      }

      <mat-card-actions>
        <button mat-flat-button [disabled]="form.invalid || form.pristine" type="submit">
          @if (id) {
            {{ "admin.common.actions.update" | translate }}
          } @else {
            {{ "admin.common.actions.create" | translate }}
          }
        </button>
        @if (id) {
          <button mat-button type="button" (click)="remove()">{{ "admin.common.actions.delete" | translate }}</button>
        }
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
