@use '@angular/material' as mat;

:host {
  display: block;
}

mat-form-field {
  width: 100%;
}

.password-meter {
  margin-top: -12px;
  --password-meter-height: 8px;
  clip-path: inset(0 round var(--password-meter-height));
  @include mat.progress-bar-overrides((
    active-indicator-height: var(--password-meter-height),
    track-height: var(--password-meter-height),
    track-shape: var(--password-meter-height),
  ));
}

.password-meter-label {
  margin-top: 4px;
  margin-left: 4px;
  align-self: stretch;
}

.password-meter.red {
  @include mat.progress-bar-overrides((
    active-indicator-color: #fd5c63,
  ));
}

.password-meter.orange {
  @include mat.progress-bar-overrides((
    active-indicator-color: #ff7e47,
  ));
}

.password-meter.yellow {
  @include mat.progress-bar-overrides((
    active-indicator-color: #FFB249,
  ));
}

.password-meter.green {
  @include mat.progress-bar-overrides((
    active-indicator-color: #94d56b,
  ));
}

:host ::ng-deep .password-meter.legendary .mdc-linear-progress__bar-inner {
  background: linear-gradient(90deg,var(--mat-sys-primary) 0%, var(--mat-sys-tertiary) 100%);
  border: 0px;
  height: var(--password-meter-height);
}