@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  margin: 0;
  font-family: var(--mat-sys-body-medium-font);
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  // global variables
  --form-max-width: 800px;
  --form-min-width: 300px;

  // Material component theme overrides
  @include mat.sidenav-overrides((container-width: var(--form-min-width)));

  @include mat.list-overrides((active-indicator-shape: 14px));
}

body.dark {
  color-scheme: dark;
}

body.light {
  color-scheme: light;
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-error-container),
    supporting-text-color: var(--mat-sys-on-error-container),
    button-color: var(--mat-sys-on-error-container)
  ));
}

.error-button {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-on-error-container),
    filled-label-text-color: var(--mat-sys-error-container),
  ));
}

.danger-button {
  color-scheme: light; // hack to make button seem scary in dark mode
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-on-error-container),
    filled-label-text-color: var(--mat-sys-error-container),
  ));
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

mat-drawer-content {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

.field-suffix {
  margin-right: 8px;
}

.multi-select-actions {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 8px;

  > * {
    margin-left: 12px;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.90);
}

mat-card.form-card {
  max-width: var(--form-max-width);
  width: 100%;

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >* {
      margin-top: 24px;
    }

    mat-form-field {
      width: 100%;
    }

    mat-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      border-radius: var(--mat-sys-corner-extra-small);
      border-color: white;
      border: 1px solid;

      width: 100%;
      padding: 16px;
    }

    mat-list.invalid {
      border-color: var(--mat-sys-error);
      color: var(--mat-sys-error);
    }
  }

  mat-card-actions {
    width: 100%;
    flex-direction: column;

    button,
    a {
      margin-top: 16px;
    }
  }
}

mat-divider {
  width: 80%;
  background-color: var(--mat-sys-primary);
  height: 3px;
  border-radius: 2px;
  align-self: center;
}

mat-divider.disabled {
  background-color: var(--mat-button-filled-disabled-container-color, color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent));
  border: 0px;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: unset;
  }
}

.clickable {
  cursor: pointer;
}