| Reset Your Password
| At #{app_title}
| #{name}, you can reset your password by following the link below.
| #{reset_url}
| This password reset is only valid for 2 hours.
| You received this email because you requested a password reset at #{app_title}, if you didn't, please ignore this email and do not click any buttons or links.