@if (oldPassword(); as oldPasswordControl) {
  <mat-form-field>
    <mat-label>Old Password</mat-label>
    <input matInput [type]="pwdShow ? 'text' : 'password'" [formControl]="oldPasswordControl" />
    <button class="field-suffix" type="button" mat-icon-button matSuffix (click)="pwdShow = !pwdShow">
      <mat-icon fontSet="material-icons-round" matSuffix>{{ pwdShow ? "visibility" : "visibility_off" }}</mat-icon>
    </button>
    @if (oldPasswordControl.errors) {
      <mat-error>{{ oldPasswordControl.errors | validationError }}</mat-error>
    }
  </mat-form-field>
}

<app-new-password-input style="width: 100%" [password]="newPassword()" [(pwdShow)]="pwdShow"></app-new-password-input>

<mat-form-field>
  <mat-label>Confirm Password</mat-label>
  <input matInput [type]="pwdShow ? 'text' : 'password'" [formControl]="confirmPassword()" />
  <button class="field-suffix" type="button" mat-icon-button matSuffix (click)="pwdShow = !pwdShow">
    <mat-icon fontSet="material-icons-round" matSuffix>{{ pwdShow ? "visibility" : "visibility_off" }}</mat-icon>
  </button>
  @if (confirmPassword().errors) {
    <mat-error>{{ confirmPassword().errors | validationError }}</mat-error>
  }
</mat-form-field>
