name: Release

on:
  push:
    tags: ['v[0-9]+.[0-9]+.[0-9]+']
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
      
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login GitHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login Dockerhub
        uses: docker/login-action@v3
        with:
          username: voidauth
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: DOCKER_IMAGE_NAME
        run: |
          REPO_OWNER=${{ github.repository_owner }}
          DOCKER_IMAGE_NAME="${REPO_OWNER,,}/voidauth"
          # Make DOCKER_IMAGE_NAME accessible in other steps
          echo "DOCKER_IMAGE_NAME=${DOCKER_IMAGE_NAME}" >>${GITHUB_ENV}
          
      - name: Docker Metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKER_IMAGE_NAME }}
            ghcr.io/${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}
            type=edge

      - name: Docker QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Push
        uses: docker/build-push-action@v6
        id: docker-build
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          push: true

      - name: Attestation Github Registry
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: "ghcr.io/${{ env.DOCKER_IMAGE_NAME }}"
          subject-digest: ${{ steps.docker-build.outputs.digest }}
          push-to-registry: true

      - name: Attestation Dockerhub Registry
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: "index.docker.io/${{ env.DOCKER_IMAGE_NAME }}"
          subject-digest: ${{ steps.docker-build.outputs.digest }}
          push-to-registry: true