<h2 style="text-align: center">Multi-Factor Authentication Required</h2>
<mat-card class="form-card">
  <mat-card-content>
    <form>
      <app-totp-input
        style="width: 100%"
        [uri]="uri()"
        [secret]="secret()"
        [disabled]="disabled()"
        (codeFinished)="totpVerify($event)"
      ></app-totp-input>

      @if (passkeySupport?.enabled) {
        @if (canPasskey) {
          <app-text-divider text="or" disabled></app-text-divider>
          <button mat-flat-button type="button" (click)="passkeyLogin()">
            {{ passkeySupport?.platformName ?? "Passkey" }}
            <mat-icon fontSet="material-icons-round" matSuffix>{{ passkeySupport?.platformIcon ?? "key" }}</mat-icon>
          </button>
        }
        @if (user?.id) {
          <app-text-divider text="or" disabled></app-text-divider>
          <button mat-flat-button type="button" (click)="passkeyRegister()">
            {{ passkeySupport?.platformName ? "Enable " + passkeySupport?.platformName : "Register Passkey" }}
            <mat-icon fontSet="material-icons-round" matSuffix>{{ passkeySupport?.platformIcon ?? "key" }}</mat-icon>
          </button>
        }
      }

      <app-text-divider text="or" disabled></app-text-divider>

      <button mat-button (click)="cancelMfa()" type="button">Back</button>
    </form>
  </mat-card-content>
</mat-card>

<span style="flex-grow: 1"></span>

@if (config?.contactEmail; as contactEmail) {
  <a style="margin-top: 48px" mat-button [href]="'mailto:' + contactEmail">Contact</a>
}
