<h2 style="text-align: center">Multi-Factor Authentication Required</h2>

<app-totp-input [disabled]="disabled()" (codeFinished)="totpVerify($event)"></app-totp-input>

@if (passkeySupport?.enabled) {
  <app-text-divider text="or" disabled></app-text-divider>
  <button mat-flat-button type="button" (click)="passkeyLogin(false)">
    {{ passkeySupport?.platformName ?? "Passkey" }}
    <mat-icon fontSet="material-icons-round" matSuffix>{{ passkeySupport?.platformIcon ?? "key" }}</mat-icon>
  </button>
}

<app-text-divider text="or" disabled></app-text-divider>

<button mat-flat-button (click)="cancelMfa()">Cancel</button>

<span style="flex-grow: 1"></span>

@if (config?.contactEmail; as contactEmail) {
  <a style="margin-top: 48px" mat-button [href]="'mailto:' + contactEmail">Contact</a>
}
